.App {
  * {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
  }

  h1 {
    color: #191414;
    font-weight: 700;

    span {
      color: #1db954;
    }
  }
  h2 {
    color: #191414;
    font-weight: 700;

    span {
      color: #1db954;
    }
  }
}
